<div class="container-fluid">
  <!-- หัวข้อเลือกจำนวน -->
  <div class="justify-content-between d-flex" style="margin: 20px;">
    <p style="font-size: large; font-weight: bold;">เลือกจำนวน</p>

    <button class="btn-close" style="width: 10px; height: 10px; border-radius: 60px; color: #00bbff;">
    </button>
  </div>

  <!-- ชื่ออาหาร -->
  <p class="justify-content-center d-flex" style="font-size: large; font-weight: bold;">test</p>
  <div class="justify-content-around align-items-center d-flex">

    <!-- ปุ่มลด -->
    <button class="btn d-flex align-items-center justify-content-center"
      style="width: 43px; height: 43px; border-radius: 60px; color: #00bbff; border-color: #00bbff; background-color: #00bbff; color: ghostwhite;">
      <mat-icon class="d-flex align-items-center justify-content-center" style="width: 24px; height: 24px;">remove
      </mat-icon>
    </button>

    <!-- จำนวน -->
    <p class="justify-content-center d-flex" style="font-size: 50px; font-weight: bold;">1</p>

    <!-- ปุ่มเพิ่ม -->
    <button class="btn d-flex align-items-center justify-content-center"
      style="width: 43px; height: 43px; border-radius: 60px; color: #00bbff; border-color: #00bbff; background-color: #00bbff; color: ghostwhite;">
      <mat-icon class="d-flex align-items-center justify-content-center" style="width: 24px; height: 24px;">add
      </mat-icon>
    </button>
  </div>

  <!-- ปุ่มยืนยันการเพิ่ม -->
  <div class="d-flex justify-content-center" style="margin: 20px;">
    <button class="btn d-flex align-items-center justify-content-around"
      style="background-color: #00bbff; color: ghostwhite; font-weight: bold; width: 100%;">
      <mat-icon>done</mat-icon>
      <span>เพิ่มรายการ</span></button>
  </div>
</div>
